body {
  margin: 0;
  font-family: "Cairo", Tahoma, Arial, sans-serif;
  background-color: #0f0f0f;
  color: #f5f5f5;
  line-height: 1.9;
}

/* الهيدر */
.hero {
  height: 90vh;
  background: url(imag/ns.jpeg)
    center/cover no-repeat;
  position: relative;
}

.overlay {
  background: rgba(0,0,0,0.75);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.logo h1 {
  font-size: 60px;
  margin: 10px 0;
  color: gold;
  letter-spacing: 2px;
}

.logo p {
  font-size: 20px;
  color: #ddd;
}

.welcome {
  margin-top: 25px;
  font-size: 22px;
  max-width: 700px;
}

/* الأقسام */
.section {
  padding: 70px 20px;
  text-align: center;
}

.section h2 {
  font-size:60px;
  color: rgba(230, 239, 231, 0.89);
  margin-bottom: 25px;
   background: linear-gradient(145deg, #1c1c1c, #0d0d0d);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(255,215,0,0.15);
  transition: transform 0.3s;
}

/* الخدمات */
.services {
  background-color: #151515;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  max-width: 900px;
  margin: auto;
}

.card {
  background: linear-gradient(145deg, #1c1c1c, #0d0d0d);
  padding: 30px;
  border-radius: 12px;
  font-size: 20px;
  box-shadow: 0 0 15px rgba(255,215,0,0.15);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}

/* الموقع */
.location p {
  font-size: 20px;
}

/* الفوتر */
footer {
  background-color: #000;
  text-align: center;
  padding: 25px;
  color: #aaa;
}

/* زر واتساب */
.whatsapp-btn {
  position: fixed;
  bottom: 25px;
  left: 25px;
  width: 60px;
  height: 60px;
  background-color: #25D366;
  color: #fff;
  font-size: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  transition: transform 0.3s;
}

.whatsapp-btn:hover {
  transform: scale(1.1);
}

.gallery {
  background-color: #0f0f0f;
}

.gallery-item {
  display: flex;
  align-items: center;
  gap: 25px;
  max-width: 350px;
  margin: 30px auto;
  background: linear-gradient(145deg, #1c1c1c, #0b0b0b);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 0 15px rgba(255,215,0,0.15);
}

.gallery-item img {
  width: 220px;
  height: 160px;
  object-fit: cover;
  border-radius: 12px;
  border: 2px solid gold;
}

.gallery-text h3 {
  color: gold;
  font-size: 26px;
  margin-bottom: 10px;
}

.gallery-text p {
  font-size: 18px;
  color: #ddd;
}

/* موبايل */
@media (max-width: 768px) {
  .gallery-item {
    flex-direction: column;
    text-align: center;
  }

  .gallery-item img {
    width: 100%;
    height: 200px;
  }
}